/* styles.css */
/* Estilo para o corpo da página */
body {
    background-color: #000; /* Fundo preto */
    color: #493939; /* Texto branco */

/* styles.css */

/* Estilo para a Navbar com classe navbar-expand-lg */
.navbar.navbar-expand-lg {
    background-color: #000;
}

/* Estilo para a cor do texto "DARK FLIX" na Navbar */
.navbar.navbar-expand-lg .navbar-brand {
    color: #dd0101; /* Vermelho forte (FF0000) */
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.4); /* Efeito neon */
}

/* Ajuste de posicionamento do botão "Assistir Trailer" */
.watch-button {
    position: absolute;
    bottom: 20px; /* Ajuste essa propriedade conforme necessário para posicionar o botão para cima ou para baixo */
}
